@tailwind base;
@tailwind components;
@tailwind utilities;


/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

/* layout */
:root {
  --primary: #1a53af;
  --error: #e7195a;
}
body {
  background: #dde6ed;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #9BB0C1;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .container p {
  margin-top: -10%;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* company listing */
.company-listing .sub {
  display: flex;
  width: 100%;
  height: 100%;
}

.company-listing .companies {
  display: flex;
  gap: 100px;
}

.company-listing .companies {
  background: #c0dbf0;
  border-radius: 4px;
  margin: 10px;
  padding: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  width: 80%;
  height: 700px;
  position: relative;
}

.company-listing h2 {
  text-align: center;
}

.company-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  height: 40%;
  width: 40%;
}
.company-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.company-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.company-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

/* consultant listing */
.consultant-listing .sub {
  display: flex;
  width: 100%;
  height: 100%;
}

.consultant-listing .consultants-main .consultants {
  display: flex;
  gap: 10px;
}
.consultant-listing .consultants-main .consultants {
  background: #c0dbf0;
  border-radius: 4px;
  margin: 10px;
  padding: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  width: 100%;
  height: 700px;
  position: relative;
  display: flex;
  gap: 10px;
}
.consultant-listing h2 {
  text-align: center;
}

.consultant-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  height: 40%;
  width: 40%;
}
.consultant-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.consultant-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.consultant-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

/* business listing */
.business-listing .sub {
  display: flex;
  width: 100%;
  height: 100%;
}

.business-listing .businesses {
  display: flex;
  gap: 100px;
}

.business-listing .businesses {
  background: #c0dbf0;
  border-radius: 4px;
  margin: 10px;
  padding: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  width: 80%;
  height: 700px;
  position: relative;
}

.business-listing h2 {
  text-align: center;
}

.business-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  height: 40%;
  width: 40%;
}
.business-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.business-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.business-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

/* general profile view page */
.view-general-profile .sub {
  display: inline-flex;
  width: 100%;
  height: 100%;
}

.view-general-profile .general-profile {
  display: grid;
  grid-template-columns: 5fr 5fr;
  gap: 100px;
}

.view-general-profile .general-profile {
  background: #e3e3e3;
  border-radius: 4px;
  margin: 10px;
  padding: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  width: 80%;
  height: 700px;
  position: relative;
}

.view-general-profile h2 {
  text-align: center;
}

.general-profile-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  height: 40%;
  width: 40%;
}
.general-profile-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.general-profile-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.general-profile-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

/* business profile view page */
.view-business-profile .sub {
  display: inline-flex;
  width: 100%;
  height: 100%;
}

.view-business-profile .business-profile {
  display: grid;
  grid-template-columns: 5fr 5fr;
  gap: 100px;
}

.view-business-profile .business-profile {
  background: #e3e3e3;
  border-radius: 4px;
  margin: 10px;
  padding: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  width: 80%;
  height: 700px;
  position: relative;
}

.view-business-profile h2 {
  text-align: center;
}

.business-profile-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  height: 40%;
  width: 40%;
}
.business-profile-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.business-profile-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.business-profile-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

/* consultant profile view page */
.view-consultant-profile .sub {
  display: inline-flex;
  width: 100%;
  height: 100%;
}

.view-consultant-profile .consultant-profile {
  display: grid;
  grid-template-columns: 5fr 5fr;
  gap: 100px;
}

.view-consultant-profile .consultant-profile {
  background: #e3e3e3;
  border-radius: 4px;
  margin: 10px;
  padding: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  width: 80%;
  height: 700px;
  position: relative;
}

.view-consultant-profile h2 {
  text-align: center;
}

.consultant-profile-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  height: 40%;
  width: 40%;
}
.consultant-profile-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.consultant-profile-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.consultant-profile-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

label,
input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
select {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form {
  margin: 3% 25%;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}

.sidemenu {
  background: #fff;
  border-radius: 4px;
  margin: 10px 0px 10px;
  padding: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  width: 20%;
  height: 700px;
  position: relative;
}

.sidemenu h4 {
  text-align: center;
}

.sidemenu a {
  text-decoration: none;
  color: black;
}

.sidemenu .footer-links {
  position: absolute;
  bottom: 0;
}

.sidemenu .footer-links span {
  text-align: center;
  margin: 20px;
}

/* homepage */
.home .sub {
  display: inline-flex;
  width: 100%;
  height: 100%;
}

.home h2 {
  text-align: center;
}

.home .content {
  background: #fff;
  border-radius: 4px;
  margin: 10px;
  padding: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  width: 80%;
  height: 100px;
  position: relative;
}

/* navbar */
nav {
  display: flex;
  align-items: center;
}
nav a {
  margin-left: 10px;
}
nav button {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
  margin-left: 10px;
}
/* auth forms */
form.signup,
form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}
